*{
    margin: 0;
    padding: 0;
}
.admin {
    height: 100vh;
    display: flex;
    .admin-left {
        width: 256px;
        background: rgb(0, 21, 41);
    }
    .admin-right {
        flex: 1;
        background: #fff;
        display: flex;
        flex-direction: column;
        .admin-right-top,.admin-right-bottom {
            height: 64px;
            // background: rgb(51, 51, 51);
            background: rgb(164, 216, 194);
            font-size:20px;
            text-align: center;
            line-height: 64px;color: #fff;
        }
        .admin-right-middle {
            flex: 1;
        }
    }
}